body {
  
  height: 2000px;
 padding: 16px;


  font-family: 'Helvetica Neue', sans-serif;
}
.container{
  margin: 0 auto;
  
     max-width: 1000px;
}

.btn {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.2;
  background-color: #eaeaea;
  border: 0;
  display: inline-block;
  padding: 16px 24px;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}

.btn:focus {
  outline: 4px solid #ffcd04;
}

.fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
  
}

.fieldset__legend {
  font-size: 18.4px;
  font-size: 1.15rem;
  line-height: 1.2;
  font-weight: 700;
  display: table;
  max-width: 100%;
  margin-bottom: 12px;
  margin-bottom: .75rem;
  padding: 0;
  overflow: hidden;
  white-space: normal;
}

.legend__text {
  font-size: 18.4px;
  font-size: 1.15rem;
  line-height: 1.2;
  font-weight: 700;
  color: #191919;
  display: block;
}
